<table class="table table-striped table-wd">
  <thead>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Start Of Period</th>
      <td><%= DateTime.parse(@start_period.second).strftime('%Y-%m-%d %H:%M') %></td>
    </tr>
    <tr>
      <th scope="row">End Of Period</th>
      <td><%=  DateTime.parse(@end_period.last).strftime('%Y-%m-%d %H:%M')%></td>
    </tr>
    <tr>
      <th scope="row">Period Duration</th>
      <td><%= @total_duration %></td>
    </tr>
  </tbody>
</table>