<%= form_tag home_index_path, multipart: true, class:"form-horizontal", id:"import_user_list_form" do %>
  <div class="row">
  	<div class="form-group">
	  	<div class="col-md-10">
	 			<%= file_field_tag :file, id: "csv-file", accept: ".csv", allowed_size: "5" %>
	 	 	</div>
 	 </div>
 	  <div class="form-group">
	 	 	<div class="col-md-6">
	 	 		<%= submit_tag "Import", class: "btn btn-primary", id: 'import_user_list' %>
	 		</div>
 		</div>
 	</div>
<%end%>

<%if @start_period.present?%>
	<%= render partial: 'analysed_data'%>
<%end%>


