<!DOCTYPE html>
<html>
<head>
  <title>UnoTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-expand-lg nav-color">
  <div class="container">
    <p class="navbar-brand nav-text" href="#" >Read CSV</a>
  </div>
</nav>
<div class="container">
  <!-- Content here -->


  <%= yield %>

</div>

</body>
</html>
